{{!-- <div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">{{title}} <a href="/notes/edit/{{_id}}"><i class="fa fa-edit"></i></a>
                    </h4>
                    <p>{{description}}</p>
                    <form action="/notes/delete/{{_id}}" method="POST">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    {{/each}}
</div>
 --}}

    <div class="row">
    {{#each notes}}
        <div class="col-md-3 col-sm-4">
	<div class="card border-primary wrimagecard wrimagecard-topimage">
          <a href="#">
          <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1) ">
            {{!-- {{#if va '==' COMPLETADO}}  
                <span class="badge badge-pill badge-primary">{{validationCustom04}}</span>  
            {{else}}   
            {{#if va '==' COMPLETADO}}  
                <span class="badge badge-pill badge-success">{{validationCustom04}}</span>
            {{else}}      
                <span class="badge badge-pill badge-danger">{{validationCustom04}}</span>    
            {{/if}}  
            {{/if}} --}}

           
            
          <span class="badge badge-pill badge-primary">{{validationCustom04}}</span>
            <center><i class="fa fa-tasks" style="color:#16A085"></i></center>
            
           <a href="/notes/edit/{{_id}}" class="btn btn-outline-primary btn-sm">Editar </a>
          </div>
          <div class="wrimagecard-topimage_title">
            <h4>Materia: {{title}} 
            <div class="pull-right badge">18</div></h4>
          </div>
        </a>
        <div class="card-body">
                    {{!-- <p><strong>Observacion:</strong> <br>{{description}}</p> --}}
                    
                    <br>
                    
                     <div class="clearfix"></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                                <h7 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                Mostrar Descripcion
                                </a>
                            </h7>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                                <div class="panel-body">
                                {{description}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h7 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            Mostrar Observacion
                            </a>
                        </h7>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                           {{observation}}
                            </div>
                        </div>
                        </div>
                    </div>


                <br>
               

                <form action="/notes/delete/{{_id}}" method="POST">
                        <button class="btn btn-outline-danger btn-block btn-sm" type="submit">Eliminar</button>

                        
                    </form>

        </div>
                    
       
        <div class="card-footer">
      <small class="text-muted">{{createdAt}}</small>
      {{!-- <div class="dates">
            	<div class="start">
                	<strong>STARTS</strong>
					{{createdAt}}
                    <span></span>
                </div>
                <div class="ends">
	                <strong>ENDS</strong>
					{{updatedAt}}
                </div>
            </div> --}}

            {{#if status}}
            <span class="badge badge-pill badge-success">Activado  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                                        </svg></span>
            {{else}}
            <span class="badge badge-pill badge-dark">Desactivado  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                            <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z"></path>
                                        </svg></span>
            {{/if}}

            
    </div>
        
      </div>
      </div>
      {{/each}}
    </div>



<script>
/*
$("#accordion").on("hide.bs.collapse show.bs.collapse", e => {
  $(e.target)
    .prev()
    .find("i:last-child")
    .toggleClass("fa-minus fa-plus");
});

$("#accordion").on("shown.bs.collapse", e => {
  $("html, body").animate(
    {
      scrollTop: $(e.target)
        .prev()
        .offset().top
    },
    400
  );
});
*/

/*$(document).ready(function() {

  $(".toggle-accordion").on("click", function() {
    var accordionId = $(this).attr("accordion-id"),
      numPanelOpen = $(accordionId + ' .collapse.in').length;
    
    $(this).toggleClass("active");

    if (numPanelOpen == 0) {
      openAllPanels(accordionId);
    } else {
      closeAllPanels(accordionId);
    }
  })

  openAllPanels = function(aId) {
    console.log("setAllPanelOpen");
    $(aId + ' .panel-collapse:not(".in")').collapse('show');
  }
  closeAllPanels = function(aId) {
    console.log("setAllPanelclose");
    $(aId + ' .panel-collapse.in').collapse('hide');
  }
     
});*/

</script>

